body{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#grid-container{
    height: 600px;
    width: 600px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid{
    width: 500px;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 50px;
    height: 50px;
    background-color: white;
}

#reset-btn{
    width: 60px;
    height: 26px;
}

.grid-selectors{
    display: flex;
    justify-content: space-between;
}